/* ****************************************************************************************************

  # container
  - layout
  - 横幅などの指定

**************************************************************************************************** */
// l-section > l-container
@use "../foundation/tool/global";


.l-container {
  position: relative;
  padding: 0 .5rem;
  margin: 0 auto;
  max-width: 1300px;
  // @include global.content-width-padding();
}

@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-container {
    position: relative;
    padding: 0;
    margin: 0 auto;
    // @include global.content-width-padding();
  }
}

// /* full
// ---------------------------------------------------------------------- */
.l-container.l-container--full {
  padding-right: 0;
  padding-left: 0;
}

// /* pcサイズからfull
// ---------------------------------------------------------------------- */
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-container.l-container--full_mq-min-md {
    padding-right: 0;
    padding-left: 0;
  }
}
